body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fe2858;
    font-family: monospace, serif;
}

.black-bar {
    background-color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
}

.black-bar.top {
    top: 0;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    top: -30px;
}

.title-photo img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.text_shadows-title {
    text-shadow: 
        3px 3px 0 #040404,   
        6px 6px 0 #de8c9d,   
        9px 9px 0 #2af0ea,   
        12px 12px 0 #397684; 
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(1rem + 2.5vw);
    margin: 0;
    color: #397684;
    animation: shadows 1.2s ease-in-out infinite, move 1.2s ease-in-out infinite;
    letter-spacing: 0.4rem;
}

@keyframes shadows {
    0% {
        text-shadow: 
            3px 3px 0 #040404, 
            6px 6px 0 #de8c9d,
            9px 9px 0 #2af0ea, 
            12px 12px 0 #397684;
    }
    50% {
        text-shadow: 
            5px 5px 0 #2af0ea, 
            8px 8px 0 #040404,
            11px 11px 0 #de8c9d, 
            14px 14px 0 #397684;
    }
    100% {
        text-shadow: 
            3px 3px 0 #040404, 
            6px 6px 0 #de8c9d,
            9px 9px 0 #2af0ea, 
            12px 12px 0 #397684;
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.content {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    background-color: #de8c9d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
}

.rainbow-box {
    display: inline-block;
    padding: 5px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, 
        #040404 0%, 
        #fe2858 25%, 
        #2af0ea 50%, 
        #397684 75%, 
        #040404 100%);
    border-image-slice: 1;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
}

.custom-file-upload, 
.button-style {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #040404;
    background-color: #f9f9f9;
    color: #040404;
    font-family: inherit;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(4, 4, 4, 0.2);
    font-weight: bold;
}

.custom-file-upload:hover, 
.button-style:hover {
    background-color: #fe2858;
    color: #f9f9f9;
    border: 1px solid #397684;
}
